<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<!-- Avaty -->
	<session-factory name="easy">
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
<!-- 		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/newsfeed?autoReconnect=true</property> -->
<!-- 		<property name="hibernate.connection.username">root</property> -->
<!-- 		<property name="hibernate.connection.password">teste</property> -->

<!-- 		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/feeds?autoReconnect=true</property> -->
<!-- 		<property name="hibernate.connection.username">admfeeds</property> -->
<!-- 		<property name="hibernate.connection.password">unipe=200</property> -->

		<property name="hibernate.connection.url">jdbc:mysql://177.43.175.221:8031/feeds?autoReconnect=true</property>
		<property name="hibernate.connection.username">admfeeds</property>
		<property name="hibernate.connection.password">unipe=200</property>

		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="hibernate.show_sql">false</property>
		<property name="hibernate.format_sql">false</property>

		<mapping package="br.com.unipe.newsFeed.model.beans" />

	</session-factory>
</hibernate-configuration>
